In [4]:
import numpy as np
import pandas as pd

In [45]:
#Daten einlesen
data = pd.read_csv("GW_data.csv",delimiter=",")
#einzelnen Parameter, der aus stetigen Daten besteht (Grundwassertemperatur) als Array speichern
GWT = data['T [°C]']

In [6]:
#1.Univariate Statistik 
#Bestimmung der Lageparameter; angefangen mit dem arithmetischen Mittel 
#zu Beginn ist es wichtig sich der Beschaffenheit der Daten anzuschauen und ggf. die 0-Werte zu eliminieren
GWT.isnull().sum()

46

In [46]:
#Elimierung der 0 Werte
GWT_df = GWT.dropna()

In [47]:
#Anzahl (n) der Werte im Datensatz
n = len(GWT_df)

In [48]:
#Berechnung des arithmetrischen Mittel 
amean_GWT = (1/n)*sum(GWT_df)
print(amean_GWT)

12.560178685386111

In [10]:
#Berechnung des Medians; dafür müssen die Daten ersteinmal sortiert werden 
GWT_sorted=sorted(GWT_df)
#print (GWT_sorted)
Median_GWT=GWT_sorted[int((n+1)/2)]
print(Median_GWT)

12.3

In [49]:
#Berechnung der Quartile
import statistics
quart_GWT = statistics.quantiles(GWT_df)
print(quart_GWT)

[11.4, 12.3, 13.4]

In [50]:
#2.Bestimmung des Streuungsmaß
#Berechnung der Range
Range_GWT = max(GWT_df)-min(GWT_df)
print(Range_GWT)

17.4

In [51]:
# Berechnung des Interquartilbereich (IQR) anhand der Quartile 
IQR_GWT = quart_GWT[2]-quart_GWT[0]
print(IQR_GWT)

2.0

In [52]:
# Berechnung der Standartabweichung und Varianz
stabw_GWT = statistics.stdev(GWT_df)
print(stabw_GWT)

var_GWT = statistics.variance(GWT_df)
print(var_GWT)

1.601036041437003
2.5633164059802693

In [22]:
#3. Bestimmung der Schiefe und Wölbung
#Berechnung der Pearson's Modus Schiefe
Pearson_GWT = (amean_GWT - Median_GWT)/stabw_GWT
print (Pearson_GWT)

0.16250645123053448

In [55]:
#Berechnung der Wölbung
from scipy.stats import norm, kurtosis
kurtosis(GWT_df)

3.806095846735044

##2. Parameter Sauerstoffgehalt

In [56]:
#Indizierung des Sauerstoffgehaltes 
O2 = data['O2 [mg/l]']

In [57]:
#1.Univariate Statistik 
#Bestimmung der Lageparameter; angefangen mit dem arithmetischen Mittel 
#zu Beginn ist es wichtig sich der Beschaffenheit der Daten anzuschauen und ggf. die 0-Werte zu eliminieren
O2.isnull().sum()

685

In [58]:
O2_df = O2.dropna()

In [59]:
#Anzahl (n) der Werte im Datensatz
n = len(O2_df)

In [60]:
#Berechnung des arithmetrischen Mittel 
amean_O2 = (1/n)*sum(O2_df)
print(amean_O2)

2.342525050100202

In [65]:
#Berechnung des Medians; dafür müssen die Daten ersteinmal sortiert werden 
O2_sorted=sorted(O2_df)
#print (GWT_sorted)
Median_O2=O2_sorted[int((n+1)/2)]
print(Median_O2)

1.5

In [66]:
#Berechnung der Quantile
import statistics
quart_O2 = statistics.quantiles(O2_df)
print(quart_O2)

[0.6, 1.5, 3.3]

In [67]:
#2.Bestimmung des Streuungsmaß
#Berechnung der Range
Range_O2 = max(O2_df)-min(O2_df)
print(Range_O2)

11.3

In [68]:
#Da der Wertebereich zwischen den Extremwerten berechnet wird, ist er sehr anfällig für Ausreißer und daher in den meisten Fällen nicht als robustes Schätzwert für das Streuungsmaß geeignet. Besser geeignet ist der Interquartilbereich (IQR), also die mittleren 50% der Datenpunkte. Berechnet nun mit Hilfe der oben bestimmten Quartile den IQR, und vergleicht ihn mit dem Wertebereich.
IQR_O2 = quart_O2[2]-quart_O2[0]
print(IQR_O2)

2.6999999999999997

In [69]:
# Standartabweichung und Varianz wird berechnet 
stabw_O2 = statistics.stdev(O2_df)
print(stabw_O2)
var_O2 = statistics.variance(O2_df)
print(var_O2)

2.3929040122709497
5.725989611942409

In [70]:
#Schiefe nach Pearson
Pearson_O2 = (amean_O2 - Median_O2)/stabw_O2
print (Pearson_O2)

0.3520931244127157

In [71]:
#Wölbung
from scipy.stats import norm, kurtosis
kurtosis(O2_df)

2.148957735954059

In [73]:
#Erstellen eines Datenframes zur Veranschaulichung der Ergebnisse 
uni_stat = pd.DataFrame(
    {
        "Variable": ["arithm. Mittel ", "Median", "Quartile", "Range","IQR","Standardabweichung","Varianz","Skewness Pearson", "Kurtosis"],
        "Grundwassertemperatur [°C]": [amean_GWT, Median_GWT, quart_GWT, Range_GWT, IQR_GWT, stabw_GWT, var_GWT,Pearson_GWT,kurtosis(GWT_df)],
        "O2 [mg/l]": [amean_O2, Median_O2, quart_O2, Range_O2, IQR_O2, stabw_O2, var_O2,Pearson_O2,kurtosis(O2_df)]
    }
)

# Der fertige Datensan
uni_stat

             Variable Grundwassertemperatur [°C]        O2 [mg/l]
0     arithm. Mittel                     12.5602          2.34253
1              Median                       12.3              1.5
2            Quartile         [11.4, 12.3, 13.4]  [0.6, 1.5, 3.3]
3               Range                       17.4             11.3
4                 IQR                          2              2.7
5  Standardabweichung                    1.60104           2.3929
6             Varianz                    2.56332          5.72599
7    Skewness Pearson                   0.162506         0.352093
8            Kurtosis                     3.8061          2.14896

In [44]:
#Wenn man einen Überblick über den kompletten Datensatz haben will, gibt es den Befehl .describe()
data.describe()

,Abstich [cm],LF [µS/cm],pH [ -],O2 [mg/l],O2-Sätt [%],T [°C],F [mg/l],Mg [mg/l],PO4 [mg/l],NH4 [mg/l],...,Mn [mg/l],Na [mg/l],NO3 [mg/l],"P, ges [mg/l]","KS 4,3 [mmol/l]","KS 8,2 [mmol/l]",SO4 [mg/l],GH [mmol/l],Tr.quant [FNU],K [mg/l]
count,1951.000000,3014.000000,3037.000000,2495.000000,2523.000000,3134.000000,509.000000,1514.000000,710.000000,1604.000000,...,485.000000,1516.000000,2174.000000,477.000000,1494.000000,0.0,1494.000000,1510.000000,205.000000,1514.000000
mean,443.829951,595.749440,7.168627,2.342525,21.926080,12.560179,0.098012,15.372523,0.150744,0.270106,...,0.254701,19.099208,25.842180,0.047034,5.329806,NaN,92.407631,3.699550,3.718780,4.443719
std,204.221665,230.563299,0.199372,2.392904,22.487564,1.601036,0.044543,6.528096,0.271578,0.368846,...,0.340359,14.857616,26.643337,0.064153,1.435759,NaN,76.995202,1.299756,8.601802,5.269000
min,1.234000,1.000000,6.210000,0.100000,0.100000,6.400000,0.050000,2.300000,0.007000,0.010000,...,0.000000,2.000000,0.100000,0.003000,0.200000,NaN,1.000000,0.340000,0.050000,0.000000
25%,289.000000,547.000000,7.080000,0.600000,5.000000,11.400000,0.070000,11.925000,0.034250,0.020000,...,0.060000,10.375000,6.500000,0.010000,4.700000,NaN,44.000000,3.080000,0.190000,1.700000
50%,406.000000,628.000000,7.200000,1.500000,14.000000,12.300000,0.090000,14.600000,0.079500,0.120000,...,0.150000,15.000000,15.500000,0.020000,5.300000,NaN,76.000000,3.525000,0.500000,2.500000
75%,558.000000,725.000000,7.290000,3.300000,31.000000,13.400000,0.120000,18.000000,0.172000,0.370000,...,0.310000,23.000000,37.800000,0.059000,6.040000,NaN,113.000000,4.217500,1.600000,4.800000
max,992.000000,999.000000,7.870000,11.400000,115.000000,23.800000,0.370000,42.000000,5.000000,2.580000,...,2.640000,125.000000,164.000000,0.559000,10.200000,NaN,510.000000,10.300000,65.530000,42.200000